<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ site.baseurl }}/2018/media/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Annual Simulation Symposium 2018</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">ANSS'18 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#comm">Committee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dates">Dates</a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

      <div class="starter-template">
        <h1>Annual Simulation Symposium 2018</h1>
        <p class="lead"> The Annual Simulation Symposium is the oldest continuously operating simulation symposium in the Society for Modeling and Simulation (SCS) and captures what makes M&S a discipline. 2018 marks the 50th year of ANSS. Since 1968, ANSS has been a forum to exchange ideas, research results, methods, techniques, and applications among simulationists from industry, government, and academia.</p>
      	<p>
		  ANSS'18 will continue its tradition of presenting state-of-the-art papers and panels highlighting topics of interest to simulation researchers, practitioners, and users. In celebration of our 50th year, we are pleased to announce two special tracks for ANSS’18: Sensory Augmentation in Simulation and Cyber Systems M&S. We welcome proposals in any areas that may be of interest to simulationists and that generate new ideas and applications in simulation research. Below is a list of possible topics. We also welcome recommendations for panel topics and engaging high-level invited speakers with expertise in these or related areas.
		</p>
      </div>
      <a name="comm"></a>
     <h2>Organization Committee</h2>
        <p class="lead">
          General Chair of ANSS’18: Erika Frydenlund, efrydenl@odu.edu<br/>
          General Co-Chair of ANSS’18: Shafagh Jafer, jafers@erau.edu<br/>
          Program Chair of ANSS’18: Hamdi Kavak, hkava001@odu.edu
        </p>
       <a name="dates"></a>
        <h2 class="cover-heading">Dates</h2>
        <p class="lead">
        	Full Paper submission: Jan 08, 2018 <br/>
        	Author Notification: Feb 05, 2018 <br/>
        	Camera-ready Paper: Feb 23, 2018
        </p>
      </main>
    </main><!-- /.container -->


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
